DATABASE_URL="postgresql://kitapizi:kitapizi123@localhost:5432/kitapizi?schema=public"

SESSION_SECRET="kitapizi-cok-gizli-bir-anahtar"

PORT=3000

NODE_ENV=development

REDIS_URL="redis://localhost:6379"
