<%- include('partials/header') %>
<section class="auth panel">
  <h2>Kayıt Ol</h2>
  <form method="post" class="stack-form">
    <input name="name" placeholder="Kullanıcı adı" required>
    <input name="email" type="email" placeholder="E-posta" required>
    <input name="password" type="password" placeholder="Şifre" required>
    <button>Kayıt Ol</button>
  </form>
</section>
<%- include('partials/footer') %>